/*Fonte Regular*/
@font-face{
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

/*Fonte Regular*/
@font-face{
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");
}


/*Fonte Bold*/
@font-face{
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}